/* blue theme, like iOS 7 progress bar */
.progressjs-theme-red .progressjs-inner {
    height: 4px;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    background-color: #FF0000;
}
.progressjs-theme-red.progressjs-end {
    -webkit-transition: opacity 0.2s ease-out;
    -moz-transition: opacity 0.2s ease-out;
    -o-transition: opacity 0.2s ease-out;
    transition: opacity 0.2s ease-out;
    opacity: 0;
}
.progressjs-theme-red .progressjs-percent {
    display: none;
}

textarea.editor {
  display: none;
}

.vex-canvas {
  color: red;
}

body {
  font-family: Roboto, sans-serif;
  color: #333;
  margin: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-touch-callout: none;
}

section {
  margin: 20px;
}

a, a:hover {
  text-decoration: none;
}

iron-toolbar {
  background-color: #455ede;
  box-shadow: 0px 3px 2px rgba(0, 0, 0, 0.2);
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 1.5em;
}

#staff-container {
  margin-top: 2em;
}

#play-button {
  margin-top: 1em;
  background: #455ede;
  color: #fff;
}

#blackkeys {
  position: absolute; 
  z-index: 1; 
  margin-left: 1.5em;
}

#piano-container {
  @apply(--layout-horizontal);
  @apply(--layout-center-justified);
}

paper-card.white {
  background-color: white;
  margin: 0.5em 0em 0.5em 0;
  width: 3em;
  height: 10em;
}

paper-card.black {
  display: inline-flex;
  background-color: black;
  margin: 0.5em 0.5em 0.5em 0.5em;
  width: 2em;
  height: 5em;
  position: relative;
  /*padding-top: 80px;*/
}

.empty {
  display: inline-flex;
  margin: 0.5em 0.5em 0.5em 0.5em;
  width: 2em;
  height: 5em;
  position: relative;
}

paper-card.pressed {
  background-color: #455ede;
}

paper-button[right] {
  position: fixed;
  right: 0;
}

paper-checkbox {
  margin-left: 1em;
}

paper-fab {
  position: absolute !important;
  top: 35px;
  right: 1em;
  z-index: 1;
}

paper-tabs {
  background-color: #5677fc;
  color: #fff;
}

paper-tabs paper-tab.iron-selected {
  color: #ffff8d;
}
