/* blue theme, like iOS 7 progress bar */
.progressjs-theme-red .progressjs-inner {
    height: 4px;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    background-color: #FF0000;
}
.progressjs-theme-red.progressjs-end {
    -webkit-transition: opacity 0.2s ease-out;
    -moz-transition: opacity 0.2s ease-out;
    -o-transition: opacity 0.2s ease-out;
    transition: opacity 0.2s ease-out;
    opacity: 0;
}
.progressjs-theme-red .progressjs-percent {
    display: none;
}

textarea.editor {
  display: none;
}

.vex-canvas {
  color: red;
}

#home-button {
  pointer-events: auto;
  cursor: pointer;
}

#main-panel {
  background-color: #eee;
}

body {
  font-family: Roboto, sans-serif;
  color: #333;
  margin: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-touch-callout: none;
}

section {
  margin: 20px;
}

a, a:hover {
  text-decoration: none;
}

#playerstave path {
  fill: #455ede;
}

#mystave path.note_selected {
  fill: #455ede;
}

#mystave svg {
  display: block;
  margin: 0 auto;
}

#mystave { 
  width: 100% !important;
  /*text-align: center;*/
}

#playerstave {
  width: 100% !important;
}

#mystave .cursor {
	background-color: rgba(196,196,196,.5);
}

#playerstave svg {
  display: block;
  margin: auto;
}

iron-toolbar {
  background-color: #455ede;
  box-shadow: 0px 3px 2px rgba(0, 0, 0, 0.2);
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 1.5em;
}

html /deep/ .dialog-right-position {
  position: fixed;
  top: 60px;
  right: 0px;
  width: 300px;
  height: 400px;
}

#results-card {
  display: none;
  margin-bottom: 20px;
  width: 900px;
}

.results-panel {
  width: 350px;
  margin-left: 20px;
  margin-right: 20px;
}

paper-header-panel {
  height: 200px;
}

#lh-results .paper-header {
  background-color: #03A9F4;
}

#rh-results .paper-header {
  background-color: #9C27B0;
}

td.bad {
  color: red;
}

td.good {
  color: green;
}

table.results td {
  width: 175px;
}

table.accuracy td {
  width: 120px;
}

td.result {
  font-weight: bold;
  text-align: right;
  font-size: 150%;
}

/*.container {
  display: inline-block;
  margin-left: 30px;
  margin-right: 30px;
}*/

/* Need to position the badge to look like a text superscript */
/*.container > paper-badge {
  --paper-badge-margin-left: 20px;
  --paper-badge-margin-bottom: 0px;
}*/

.content {
  /*height: 300px;*/
}

#staff-container {
  margin-top: 2em;
}

.mainButton {
  background: #1DD20B;
  color: #fff;
}

#play-button {
  margin-top: 1em;
  background: #1DD20B;
  color: #fff;
  
}

#stop-button {
  margin-top: 1em;
  background: red;
  color: #fff;
  display: none;
}

#score-button {
  background: #455ede;
  color: #fff;
}

#blackkeys {
  position: absolute; 
  z-index: 1; 
  margin-left: 1.0em;
}

#piano-container {
  @apply(--layout-horizontal);
  @apply(--layout-center-justified);
}

paper-card.white {
  background-color: white;
  margin: 0.5em 0em 0.5em 0;
  width: 2em;
  height: 7em;
}

paper-card.black {
  display: inline-flex;
  background-color: black;
  margin: 0.5em 0.5em 0.5em 0.5em;
  width: 1.0em;
  height: 4em;
  position: relative;
  /*padding-top: 80px;*/
}

.empty {
  display: inline-flex;
  margin: 0.5em 0.5em 0.5em 0.5em;
  width: 1.0em;
  height: 4em;
  position: relative;
}

paper-card.pressed {
  background-color: #455ede;
}

paper-button[right] {
  position: fixed;
  right: 0;
}

paper-checkbox {
  margin-left: 1em;
}

paper-fab {
  position: absolute !important;
  top: 35px;
  right: 1em;
  z-index: 1;
}

paper-tabs {
  background-color: #5677fc;
  color: #fff;
}

paper-tabs paper-tab.iron-selected {
  color: #ffff8d;
}
