<!doctype html>

<html>
<head>
  <title>PiaNote</title>

  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-capable" content="yes">

  <script src='{{url_for("static", filename="bower_components/webcomponentsjs/webcomponents-lite.min.js")}}'></script>
  <script src='{{url_for("static", filename="bower_components/jquery/dist/jquery.js")}}'></script>
  <script src='{{url_for("static", filename="bower_components/raphael/raphael.js")}}'></script>
  <script src='{{url_for("static", filename="bower_components/midi/inc/shim/Base64.js")}}' type="text/javascript"></script>
	<script src='{{url_for("static", filename="bower_components/midi/inc/shim/Base64binary.js")}}' type="text/javascript"></script>
	<script src='{{url_for("static", filename="bower_components/midi/inc/jasmid/stream.js")}}' type="text/javascript"></script>
	<script src='{{url_for("static", filename="bower_components/midi/inc/jasmid/midifile.js")}}' type="text/javascript"></script>
	<script src='{{url_for("static", filename="bower_components/midi/inc/jasmid/replayer.js")}}' type="text/javascript"></script>
	<script src='{{url_for("static", filename="bower_components/Progress.js/minified/progress.min.js")}}'></script>
  <script src='{{url_for("static", filename="bower_components/midi/build/MIDI.js")}}'></script>
  <script src='{{url_for("static", filename="js/libs/combinatorics.js")}}'></script>
  <link rel="import" href='{{url_for("static", filename="bower_components/iron-flex-layout/iron-flex-layout-classes.html")}}'/>
  <link rel="import" href='{{url_for("static", filename="bower_components/font-roboto/roboto.html")}}'>
  <link rel="import" href='{{url_for("static", filename="bower_components/iron-collapse/iron-collapse.html")}}'>
  
  <link rel="import" href='{{url_for("static", filename="bower_components/paper-styles/paper-styles-classes.html")}}'>
  <link rel="import" href='{{url_for("static", filename="bower_components/paper-elements/paper-elements.html")}}'>
  <link rel="import" href='{{url_for("static", filename="bower_components/iron-icons/av-icons.html")}}'>
  <link rel="import" href='{{url_for("static", filename="bower_components/iron-icons/image-icons.html")}}'>
  <link rel="import" href='{{url_for("static", filename="bower_components/iron-icons/hardware-icons.html")}}'>
  
  <!--<link rel="import" href='{{url_for("static", filename="bower_components/google-chart/google-chart.html")}}'/>-->
  <link rel="stylesheet" href='{{url_for("static", filename="bower_components/Progress.js/minified/progressjs.min.css")}}'/> 
  <link rel="stylesheet" href='{{url_for("static", filename="bower_components/animate.css/animate.min.css")}}'/>
  <script src='{{url_for("static", filename="js/libs/abcjs_basic_2.3-min.js")}}'></script>
  <script type="text/javascript" src='{{url_for("static", filename="js/libs/BufferLoader.js")}}'></script>
  <script src='{{url_for("static", filename="js/mappings.js")}}'></script>
  <script src='{{url_for("static", filename="js/constants.js")}}'></script>
  <script src='{{url_for("static", filename="js/userStats.js")}}'></script>
  <script src='{{url_for("static", filename="js/note.js")}}'></script>
  <script src='{{url_for("static", filename="js/musical_piece.js")}}'></script>
  <script src='{{url_for("static", filename="js/levels.js")}}'></script>
  <script src='{{url_for("static", filename="js/instruments.js")}}'></script>
  <script src='{{url_for("static", filename="js/main_piano.js")}}'></script>
  <script src='{{url_for("static", filename="js/userInput.js")}}'></script>
  <script src='{{url_for("static", filename="js/metronome.js")}}'></script>
  <script src='{{url_for("static", filename="js/pianote.js")}}'></script>
  <script src='{{url_for("static", filename="js/UserProfile.js")}}'></script>
  <script src='{{url_for("static", filename="js/RecommendationEngine.js")}}'></script>
  <script src='{{url_for("static", filename="js/home.js")}}'></script>
  <link rel="stylesheet" href='{{url_for("static", filename="styles.css")}}'>
</head> 
<body unresolved class="fullbleed layout vertical">
  <paper-header-panel class="flex" id="main-panel">
    <paper-toolbar>
        <div class="title">
          <span id="home-button">
              <iron-icon icon="image:music-note"></iron-icon>
              PiaNote
          </span>
        </div>
        <paper-button id="user-button">
         <iron-icon icon="icons:account-circle"></iron-icon>
         {{ username }}
        </paper-button>
        <paper-button raised id="logout-button" onclick="logout()">
          Logout
        </paper-button>
    </paper-toolbar>
      <div id="midi-status" class="horizontal end-justified layout">    
        <paper-material elevation=1 class="midi-status" id="midi-not-connected">
          <iron-icon icon="icons:report"></iron-icon>
          Midi Not Connected
        </paper-material>
        <paper-material elevation=1 class="midi-status" id="midi-connected">
          <iron-icon icon="icons:check-circle"></iron-icon>
          Midi Connected
        </paper-material>
      </div>
      
      <div id="score-key" class="horizontal end-justified layout">
        <paper-card heading="Scoring Key">    
            <div class="card-actions">
            <paper-icon-button icon="hardware:keyboard-arrow-down" title="more info" onclick="_toggle()" style="float:right;">
                </paper-icon-button>
            <iron-collapse id="more-info" style="width:100%;">
                <br>
                <paper-listbox id="key-list">
                    <paper-item>
                        <svg width="20" height="20">
                            <rect id="hit-key" width="20" height="20" />
                        </svg> = correct note and rhythm
                    </paper-item>
                    <paper-item>
                        <svg width="20" height="20">
                            <rect id="miss-key" width="20" height="20" />
                        </svg> = Incorrect note and rhythm
                    </paper-item>
                    <paper-item>
                        <svg width="20" height="20">
                            <rect id="note-miss-key" width="20" height="20"  />
                        </svg> = Incorrect note
                    </paper-item>
                    <paper-item>
                        <svg width="20" height="20">
                            <rect id="rhythm-miss-key" width="20" height="20" />
                        </svg> = Incorrect rhythm
                    </paper-item>
                    
                </paper-listbox>
            </iron-collapse>
            </div>
            <!--<script>
                function _toggle() {
                    var moreInfo = document.getElementById('more-info');
                    var iconButton = Polymer.dom(event).localTarget;
                    iconButton.icon = moreInfo.opened ? 'hardware:keyboard-arrow-up'
                                                    : 'hardware:keyboard-arrow-down';
                    moreInfo.toggle();
                }
            </script>-->            
        </paper-card>
      </div>
      
      
      <p class="horizontal center-justified layout" style="{float: center}">
        Session: {{ sessionNum }}
      </p>
    <div class="horizontal center-justified layout">
      <paper-button raised id="play-button">
        <iron-icon icon="av:fiber-manual-record"></iron-icon>
        Start Recording
      </paper-button>
    </div>
    
    <div class="horizontal center-justified layout">
      <paper-button raised id="stop-button">
        <iron-icon icon="av:stop"></iron-icon>
        Score Performance
      </paper-button>
    </div>
    <div class="horizontal center-justified layout">
      <paper-input id="bpm" label="bpm" type="number" value="120" min="80" max="120">
      </paper-input>
    </div>
    <div class="horizontal center-justified layout">
      <div id="score-div">
      <h2>Score: </h2>
      <h2 id="score"></h2>
      </div>
    </div>  
    <div class="horizontal center-justified layout" >
      
      <div id="playButtons">
        <paper-button raised id="play-song-button" class="song-button">
          <iron-icon icon="av:play-circle-outline"></iron-icon>
          Play Expected Piece
        </paper-button>
        <paper-button raised id="play-performed-button" class="song-button">
          <iron-icon icon="av:play-circle-outline"></iron-icon>
          Play Your Performance
        </paper-button>
      </div>
    </div>
    <div class="horizontal center-justified layout">
      <paper-card id="staff-card">
        <div class="card-content">
          <div id="mystave" class="mystaveClass"> <!--scale=1.0 editor="true" editor_width=680 editor_height=330 height=300> -->
          </div>
        </div>
      </paper-card>
    </div>
    <div id="playerstave"> <!--scale=1.0 editor="true" editor_width=680 editor_height=330 height=300> -->
    </div>
    <!--<paper-dialog id="results-dialog" modal="true">
      <h1>Performance Results</h1>
      <paper-dialog-scrollable>
        <paper-button raised id="results-play-song-button">
          <iron-icon icon="av:play-circle-outline"></iron-icon>
          Play Piece
        </paper-button>
        <paper-button raised id="results-play-performed-button">
          <iron-icon icon="av:play-circle-outline"></iron-icon>
          Play What you Performed
        </paper-button>
        <div class="horizontal center-justified layout">
          <paper-card id="staff-card">
            <div class="card-content">
              <div id="performedstave">
              </div>
            </div>
          </paper-card>
        </div>  
        <div class="horizontal center-justified layout">
          <paper-card id="results-card">
            <div class="card-content">
            <div class="layout wrap inline center-center">
              <paper-header-panel class="results-panel" id="lh-results">
                <paper-toolbar class="paper-header">
                  <div>Left Hand</div>
                </paper-toolbar>
                <div class="content">
                  <table class="results">
                      <td>Notes Hit</td>
                      <td class="result good" id="n-h2">13</td>
                    </tr>
                    <tr>
                      <td>Notes Missed</td>
                      <td class="result bad" id="n-m2">42</td>
                    </tr>
                    <tr>
                      <td>Rhythms Hit</td>
                      <td class="result good" id="r-h2">13</td>
                    </tr>
                    <tr>
                      <td>Rhythms Missed</td>
                      <td class="result bad" id="r-m2">42</td>
                    </tr>
                  </table>
                </div>
              </paper-header-panel>
              <paper-header-panel class="results-panel" id="rh-results">
                <paper-toolbar class="paper-header">
                  <div>Right Hand</div>
                </paper-toolbar>
                <div class="content horizontal-section">
                  <table class="results">
                      <td>Notes Hit</td>
                      <td class="result good" id="n-h1">13</td>
                    </tr>
                    <tr>
                      <td>Notes Missed</td>
                      <td class="result bad" id="n-m1">42</td>
                    </tr>
                    <tr>
                      <td>Rhythms Hit</td>
                      <td class="result good" id="r-h1">13</td>
                    </tr>
                    <tr>
                      <td>Rhythms Missed</td>
                      <td class="result bad" id="r-m1">42</td>
                    </tr>
                  </table>
                </div>
                
              </paper-header-panel>
              </div>
              <div class="horizontal center-justified layout">
                  <table class="accuracy">
                    <td>Overall Accuracy</td>
                    <td class="result" id="accurate"></td>
                  </table>
              </div>
              <br>
              <div class="horizontal center-justified layout">
                <h2>Current Session</h2>
              </div>
              <div class="horizontal center-justified layout">
                <google-chart id="session-chart"
                  type='combo'
                  options='{"seriesType": "bars", "series": {"2": {"type": "line"}}}'
                  cols='[{"label": "Song", "type": "string"}, 
                          {"label": "Note Accuracy", "type": "number"},
                          {"label": "Rhythm Accuracy", "type": "number"},
                          {"label": "Overall", "type": "number"}]'
                  rows='[]'>
                </google-chart>
              </div>
            </div>
          </paper-card>
        </div>
      </paper-dialog-scrollable>
      <div class="buttons">
        <paper-button dialog-dismiss>Cancel</paper-button>
        <paper-button dialog-confirm>Accept</paper-button>
      </div>  
    </paper-dialog>-->
    <paper-dialog id="my-dialog">
    </paper-dialog>
    

    <div class="horizontal center-justified layout">
      <paper-button raised id="retry-button" disabled>
       <iron-icon icon="icons:refresh"></iron-icon>
        Retry Song
      </paper-button>
      <paper-button raised id="generate-button" disabled>
       <iron-icon icon="icons:arrow-forward"></iron-icon>
        Next Song
      </paper-button>
    </div>
    <br>
    <br>
    <paper-dialog id="note-dialog">
        <h2>Note Information</h2>
        <paper-dialog-scrollable>
          <div class="layout wrap inline center-center">
            <table id="sheetnote-info" cellpadding="10">
              <tr>
                <td class="result-header">Note</td>
                <td id="pianote-note-num" class="note-info"></td>
              </tr>
              <tr>
                <td class="result-header">Performed Note</td>
                <td id="pianote-performed-note" class="note-info"></td>
              </tr>
              <tr>
                <td class="result-header">Rhythm</td>
                <td id="pianote-note-rhythm" class="note-info"></td> 
              </tr>
              <tr>
                <td class="result-header">Performed Rhythm</td>
                <td id="pianote-performed-rhythm" class="note-info"></td> 
              </tr>
            </table>
          </div>
        </paper-dialog-scrollable>
      </paper-dialog>
    <!--<div id="staff-container">
       <svg id="mystaff" width="2000" height="300"></svg>
    </div>-->
    <div id="piano-container" class="horizontal center-justified layout"></div>
    <audio id="metronome" style="display:none;">
      <source src='{{url_for("static", filename="sounds/Tick.mp3")}}' type="audio/mpeg">
    </audio>
  </paper-header-panel>
  <paper-toast id="success-toast" text="saved current scores"></paper-toast>
  <paper-toast id="fail-toast" text="failed to save  current scores"></paper-toast>
</body>
<script>
  function registerSuccess(res) {
    console.log(res);
    alert("uuhhhh");
  }

  function registerError() {
    alert("error");
  }

  function logout() {
    window.location = "http://" + location.host + "/logout"; 
    //console.log("hello?");
    /*$.ajax ({
      method: 'GET',
      url: '/logout',
      success: registerSuccess,
      error: registerError,
    });*/
  }
  
    function _toggle() {
        var moreInfo = document.getElementById('more-info');
        var iconButton = Polymer.dom(event).localTarget;
        iconButton.icon = moreInfo.opened ? 'hardware:keyboard-arrow-down'
                                        : 'hardware:keyboard-arrow-up';
        moreInfo.toggle();
    }
</script>
</html>
