<!doctype html>

<html>
<head>
  <title>PiaNote</title>

  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-capable" content="yes">

  <script src='{{url_for("static", filename="bower_components/webcomponentsjs/webcomponents-lite.min.js")}}'></script>
  <script src='{{url_for("static", filename="bower_components/jquery/dist/jquery.js")}}'></script>
  <link rel="import" href='{{url_for("static", filename="bower_components/font-roboto/roboto.html")}}'>
  <link rel="import" href='{{url_for("static", filename="bower_components/paper-styles/paper-styles.html")}}'>
  <link rel="import" href='{{url_for("static", filename="bower_components/paper-elements/paper-elements.html")}}'>
  <link rel="import" href='{{url_for("static", filename="bower_components/iron-icons/av-icons.html")}}'>
  <link rel="import" href='{{url_for("static", filename="bower_components/iron-icons/image-icons.html")}}'>
  <link rel="import" href='{{url_for("static", filename="bower_components/iron-flex-layout/iron-flex-layout.html")}}'/>
  <link rel="stylesheet" href='{{url_for("static", filename="styles.css")}}'>
</head>
<body unresolved class="fullbleed layout vertical">
  <paper-header-panel class="flex" id="main-panel">
    <paper-toolbar>
      <iron-icon icon="image:music-note"></iron-icon>
      <div>PiaNote</div>
    </paper-toolbar>
    <div class="horizontal center-justified layout">
      <form is="iron-form" id="form" method="post" action="/login">
        <paper-input name="name" label="Cal Poly Username" id="name"></paper-input>  
      </form>
    </div>
    {% for message in get_flashed_messages() %}
      <div class=flash>{{ message }}</div>
    {% endfor %}
    <div class="horizontal center-justified layout">
      <paper-button class="mainButton" raised id="login-button" onclick="submitForm()">
        Login
      </paper-button>
      <paper-button data-dialog="register-dialog" raised id="reg-button" onclick="submitRegistration()">
        Register
      </paper-button>
    </div>
    <paper-dialog modal id="register-dialog">
    <h2>Register for PiaNote</h2>
    <paper-dialog-scrollable>
      <form is="iron-form" id="registerForm" onsubmit="submitRegistration()">
        <paper-input name="name" id="registerUname" label="Cal Poly Username"></paper-input>  
      </form>
    </paper-dialog-scrollable>
    <div class="buttons">
      <paper-button raised dialog-dismiss>Close</paper-button>
      <paper-button raised class="mainButton" id="register-button" onclick="submitRegistration()">Register</paper-button>
    </div>
  </paper-dialog>
  <paper-toast id="toast" text="Successful Registration!"></paper-toast>
</body>
  <script>
    var formPostSuccess = function(res) {
      $.get(location.host + '/home');
    }

    var formPostError = function(res) {
      console.log('error!')
    }

    function submitForm() {
      document.getElementById("form").submit();
      /*$.ajax({
                type: 'POST',
                url: location.host + '/login',
                contentType: 'text/plain',
                processData: false,
                data: "test",
                success: formPostSuccess,
                error: formPostError,
        });*/
    }

    function openDialog() {
      document.getElementById('register-dialog').open();
    }

    function registerPostSuccess(res) {
      if (res == "userExists") {
        alert("Unable to register: User already exists");
      }
      else {
        var toast = document.getElementById('toast');
        toast.open();
      }
    }

    function registerPostError(res, status, error) {
      alert("Unable to register!: " + status + ": " + error);
    }

    function submitRegistration() {
      var name = $('#name').val();

      if (!name) {
        alert("Please enter a username");
        return;
      }
      
      $.ajax({
              method: 'POST',
              url: '/register',
              processData: true,
              data: {name: name},
              dataType: 'text',
              success: registerPostSuccess,
              error: registerPostError,
      });
    }
  </script>
</html>
